h1{
    font-family: "Regular Libre Baskerville";
    color: white;
    text-align: center;
    text-transform: uppercase;
}
html{
    background-color: black;
}
p{
    color: white;
    text-align: center;
}
img{
    width: 100%;
    border: 5px solid white;
}
div{
   width: 50%;
   margin-left: 25%;
   margin-top: 200px; 
}